<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="InventorySystemSiaProject.Masterwebpage.Admin" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin - <asp:ContentPlaceHolder ID="PageTitle" runat="server" /></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="../Content/admin-dashboard.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="dashboard-container">
            <nav class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <img src="../Content/shessentials-logo.png" alt="SheEssentials Logo" style="width:40px;vertical-align:middle;margin-right:8px;" />
                        
                    </div>
                </div>
                <ul class="nav-menu">
                    <li class="nav-item"><asp:LinkButton ID="btnHome" runat="server" CssClass="nav-link" OnClick="btnHome_Click"><i class="fas fa-home"></i><span>Home</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnProduct" runat="server" CssClass="nav-link" OnClick="btnProduct_Click"><i class="fas fa-box"></i><span>Product</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnOrder" runat="server" CssClass="nav-link" OnClick="btnOrder_Click"><i class="fas fa-shopping-cart"></i><span>Order</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnPayment" runat="server" CssClass="nav-link" OnClick="btnPayment_Click"><i class="fas fa-credit-card"></i><span>Payment</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnStock" runat="server" CssClass="nav-link" OnClick="btnStock_Click"><i class="fas fa-warehouse"></i><span>Stock</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnShipping" runat="server" CssClass="nav-link" OnClick="btnShipping_Click"><i class="fas fa-truck"></i><span>Shipping</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnManageUser" runat="server" CssClass="nav-link" OnClick="btnManageUser_Click"><i class="fas fa-users"></i><span>Manage User</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnSeedData" runat="server" CssClass="nav-link" OnClick="btnSeedData_Click"><i class="fas fa-database"></i><span>Seed Data</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnSetting" runat="server" CssClass="nav-link" OnClick="btnSetting_Click"><i class="fas fa-cog"></i><span>Setting</span></asp:LinkButton></li>
                    <li class="nav-item"><asp:LinkButton ID="btnLogout" runat="server" CssClass="nav-link" OnClick="btnLogout_Click"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></asp:LinkButton></li>
                </ul>
            </nav>
            <main class="main-content">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </main>
        </div>
        <asp:ContentPlaceHolder ID="ScriptsContent" runat="server" />
    </form>
</body>
</html>
