<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- Primary MongoDB Atlas connection string -->
    <add name="MongoDBConnection" connectionString="mongodb+srv://delacruzonesimuspalles_db_user:mokmokxdpapogs19@cluster0.1uursjj.mongodb.net/InventorySystemDB?retryWrites=true&amp;w=majority&amp;appName=Cluster0&amp;tls=true&amp;tlsInsecure=true&amp;connectTimeoutMS=5000&amp;socketTimeoutMS=5000&amp;serverSelectionTimeoutMS=5000" />
    <!-- Fallback local connection for development -->
    <add name="MongoDBConnectionLocal" connectionString="mongodb://localhost:27017/InventorySystemDB" />
  </connectionStrings>
  
  <appSettings>
    <add key="MongoDBDatabase" value="InventorySystemDB" />
    <add key="UsersCollection" value="Users" />
    <add key="InventoryCollection" value="Inventory" />
    <add key="ProductsCollection" value="Products" />
    <add key="IngredientsCollection" value="Ingredients" />
    <add key="ProductIngredientsCollection" value="ProductIngredients" />
    <add key="ProductVariantsCollection" value="ProductVariants" />
    <add key="VariantIngredientsCollection" value="VariantIngredients" />
    <add key="SalesCollection" value="ProductSales" />
    <add key="UseLocalMongoDB" value="false" />
    <add key="CloudinaryCloudName" value="dxfv8ppsu" />
    <add key="CloudinaryApiKey" value="91728836932341" />
    <add key="CloudinaryApiSecret" value="kucO-ABWzygcnB8XlH-Ju5yPDs" />
    <add key="StockRequestsCollection" value="StockRequests" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" executionTimeout="120" maxRequestLength="51200" />
    
    <!-- Configure validation mode and jQuery -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    
    <!-- Add ScriptResourceMapping for jQuery -->
    <httpHandlers>
      <add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory" validate="false" />
    </httpHandlers>
  </system.web>
  
  <!-- For IIS 7+ (Integrated Pipeline Mode) -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="SimpleHandlerFactory-ASHX" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!-- Improved system.net configuration for MongoDB Atlas -->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="false" />
    </settings>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
</configuration>